/*
--melon: #ffa69eff;
--eggshell: #faf3ddff;
--aero-blue: #b8f2e6ff;
--powder-blue: #aed9e0ff;
--black-coral: #5e6472ff;
*/
/* Global Styles
---------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 
  
body{
    color: #264653ff;
    background-color:#5e6472ff;
    font-family: 'Montserrat', sans-serif;
}

img{
    width:300px;

}

a{
    color:#5e6472ff;
}
a:hover{
    text-decoration:none;
}

h1,h3,h2{
    font-family: 'Caveat', cursive;
    margin:0px 0px;
    text-align:center;
    font-weight:400;
    
}
h1{
    font-size:50px;
    line-height:1;
}
h2{font-size:40px;}
h3{font-size:30px;}
h3{
    margin-bottom:0;
}
.item-details h3+p{
    font-style: italic;
}

.item-details h3~p{
    margin:0;
}

/* Profile Section
--------------*/
header{
    background-color:#b8f2e6ff;
    
}
.content-wrap{  
    max-width:800px;
    width:85%;
    margin:0 auto;
    padding: 40px 0;
}
p{
    font-size:12px;
    line-height:1.2; /*1.2x font-size*/
}
/*choosing a line height value larger than the font size value would help read the text better*/

/*Projects
---------------*/
.project{
    background-color:#aed9e0ff;
}
.project a{
    color:purple;
}

.project .btn{
    color:#5e6472ff;
    background-color:#FFF0F5;
    text-decoration:none;
    padding:8px;
    border-radius:4px;
    display:inline;
    font-size:10px;

}

.project .btn:hover{
    background: rgba(255,240,245,70%);
}

.project-item{
    overflow:hidden;
    border-style:dashed;
    border-width:1px 1px 1px 1px;
    padding: 10px 10px;
}

/*Work Experience
--------------*/

.work{
    background-color:#ffa69eff;
}

/* Education
--------------*/
.education{
    background-image: url(../images/education_img.jpg);
    background-size: cover;
    color:white;
    background-position:bottom right;
    padding:100px;
    text-align:right;
}

.education p{
    width:60%;
}

/* Contact Info
----------------*/
footer{
    background-color:#D8BFD8;
    color:#5e6472ff;
    
    
}

.contact-list{
    list-style-type:none;  
    display:flex;
    justify-content:space-around;
    flex:0 0 auto;
}

.contact-list a{
    padding: 8px;
    
    
}

/*If you want to reduce an excessive vertical gap between an h1 element and the text below it tweak 
the element's padding, margin and line-height properties. */

/* Responsive website*/

@media screen and (min-width:750px)
{
    .project-item img
    {
        float: left;
        margin-right:20px;
    }
    .job-items{
        display:grid;
        grid-template-columns: 1fr 3fr;
        column-gap:10px;
    }
    header, footer{
        text-align:center;
    }
    .contact-list{
        display:flex;
        justify-content:centeraj;
    }
    
}

@media screen (max-width:749px)
{
    h1{
        font-size:75px;
        line-height:0.9;
        margin-bottom:20px;
    }

    h1,h2{
        line-height:1;
    }

    .contact-list a 
    {
        padding: 5px;
    }
}